PORT=
NODE_ENV=
DATABASE_URL=postgresql://blog_admin:blog_admin@localhost:5432/blog_db
CLIENT_URL=
REDIS_URL=redis://localhost:6379
SALT_ROUNDS=

EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_PORT=
EMAIL_HOST=
EMAIL_FROM=
MAIL_TOKEN_EXPIRES_SECONDS=
RESET_TOKEN_TTL_MS=

JWT_ACCESS_SECRET=
JWT_ACCESS_TOKEN_TTL_SECONDS=
REFRESH_TOKEN_TTL_SECONDS=

BUCKET_ACCESS_KEY_ID=
BUCKET_SECRET_ACCESS_KEY=
BUCKET_REGION=
BUCKET_NAME=
BUCKET_CUSTOM_DOMAIN=

SEED_USER_PASSWORD=